<nav class="navbar navbar-default" ng-controller="NavigationController">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Social Network</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#"><img class="img-circle" style="margin: -11px 10px -9px 0px; max-width: 38px; max-height:38px" src="{{profilePic}}"/> {{name}}<span class="sr-only">(current)</span></a>
                </li>
                <li><a href="#">Friend Requests <span class="badge">{{requestCount}}</span></a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search users">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User profile<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a role="button" href="#/profile">Edit profile</a></li>
                        <li><a role="button" href="#/profile/password">Change password</a></li>
                        <li class="divider"></li>
                        <li><a role="button" ng-click="logoutUser()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>