<div class="col-md-4" ng-controller="SidebarFriendController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Friends - {{friends.totalCount}} total</h3>
        </div>
        <div class="panel-body nopadding">
            <a ng-repeat="friend in friends.friends" ng-href="#/users/{{friend.username}}">
                <img ng-if="friend.profileImageData" class="friend-img img-circle img-thumbnail img-medium"
                     src="{{friend.profileImageData}}"/>
                <img ng-if="!friend.profileImageData" class="friend-img img-circle img-thumbnail img-medium"
                     src="{{defaultPic}}"/>
            </a>

            <div class="panel-footer text-right">
                <a>See all</a>
            </div>

        </div>
    </div>
</div>