<div class="container">
    <div ng-include="'templates/components/navigation.html'"></div>
    <h1>Change Password</h1>

    <div class="col-md-8 col-lg-offset-2">
        <div class="well bs-component">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="oldPassword" class="col-lg-2 control-label">Old password</label>

                        <div class="col-lg-10">
                            <input ng-model="oldPass" type="password" class="form-control" id="oldPassword"
                                   placeholder="Old password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newPassword" class="col-lg-2 control-label">New Password</label>

                        <div class="col-lg-10">
                            <input ng-model="newPass" type="password" class="form-control" id="newPassword"
                                   placeholder="New password">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confPassword" class="col-lg-2 control-label">Confirm Password</label>

                        <div class="col-lg-10">
                            <input ng-model="confPass" type="password" class="form-control" id="confPassword"
                                   placeholder="Confirm password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary" ng-click="changePassword()">Change</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>