<div class="container" ng-controller="NewsFeedController">

    <div ng-include="'templates/components/navigation.html'"></div>

    <h1>News Feed</h1>
    <div class="col-md-8">

                <div ng-repeat="post in posts">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img class="pull-right img-circle img-thumbnail img-medium"
                                 ng-src="{{post.author.profileImageData}}" alt=""/>
                            <a ng-href="#/users/{{post.author.username}}"><h4>{{post.author.name}}</h4></a>
                            <h5>{{post.date}}</h5><br/>

                            <p>{{post.postContent}}</p>
                        </div>
                        <div class="panel-footer text-right">{{post.likesCount}}
                            <a ng-if="!post.liked" ng-click="likePost(post.id)">Like</a>
                            <a ng-if="post.liked" ng-click="dislikePost(post.id)">Dislike</a> |
                            {{post.totalCommentsCount}} <a href="">Comment</a>
                        </div>
                    </div>
                    <div class="row">
                    <div ng-repeat="comment in post.comments" class="col-md-offset-1 col-md-11">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img class="pull-right img-circle img-thumbnail img-medium"
                                     ng-src="{{comment.author.profileImageData}}" alt=""/>
                                <a ng-href="#/users/{{comment.author.username}}"><h4>{{comment.author.name}}</h4></a>
                                <h5>{{comment.date}}</h5><br/>
                                <p>{{comment.commentContent}}</p>
                            </div>
                            <div class="panel-footer text-right">
                                {{comment.likesCount}} <a type="button">Like</a>
                            </div>
                        </div>
                    </div>
                        </div>
                </div>

        </div>

    <div ng-include="'templates/components/right-sidebar.html'"></div>
</div>
</div>
</div>
</div>