<div class="container">
    <div ng-include="'templates/components/navigation.html'"></div>
        <div class="col-md-8">
            <div class="panel panel-default ">
              <div class="panel-heading"><h4>News feed</h4></div>
                 <div class="panel-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <blockquote>
                                <img src="http://files.gamebanana.com/img/av/535d1821351c5.jpeg"><a href="#"> Peshkata Ludiq</a> posted on 12/13/2015</img>
                                    <p>Ee baceta mnogo ma praite na ludi sha vi prebiq vsichki!!! Myrshiiii</p>
                                    <button class="btn btn-success">Like</button> <button class="btn btn-primary">Comment</button>
                                        <blockquote class="pull-right">
                                            <p>Q mylchi tam da ne doida da te napravq da si barash ushite, ei!</p>
                                                <small>Posted by <img src="http://files.gamebanana.com/img/av/535d1821351c5.jpeg"><a href="#"> Karakachankata</a></img> in 12.14.2015</small>
                                        </blockquote>
                                        <blockquote class="pull-right">
                                            <p>Q mylchi tam da ne doida da te napravq da si barash ushite, ei!</p>
                                            <small>Posted by <img src="http://files.gamebanana.com/img/av/535d1821351c5.jpeg"><a href="#"> Karakachankata</a></img> in 12.14.2015</small>
                                        </blockquote>
                                        </blockquote>
                        </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <blockquote>
                            <img src="http://files.gamebanana.com/img/av/535d1821351c5.jpeg"><a href="#"> Peshkata Ludiq</a></img>
                            <p>Ee baceta mnogo ma praite na ludi sha vi prebiq vsichki!!! Myrshiiii</p>
                            <a href="#" class="btn btn-success">Like</a> <a href="#" class="btn btn-primary">Comment</a>
                            <blockquote class="pull-right">
                                <p>Q mylchi tam da ne doida da te napravq da si barash ushite, ei!</p>
                                <small>Posted by <img src="http://files.gamebanana.com/img/av/535d1821351c5.jpeg"><a href="#"> Karakachankata</a></img> in 12.14.2015</small>
                            </blockquote>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'templates/components/right-sidebar.html'"></div>

    </div>
</div>